KERNEL=="qat_adf_ctl" MODE="0660" GROUP="qat" RUN+="/bin/chgrp qat /bin/adf_ctl"
KERNEL=="qat_dev_processes" MODE="0660" GROUP="qat"
KERNEL=="usdm_drv" MODE="0660" GROUP="qat"
ACTION=="add", DEVPATH=="/module/usdm_drv" SUBSYSTEM=="module" RUN+="/bin/mkdir /dev/hugepages/qat"
ACTION=="add", DEVPATH=="/module/usdm_drv" SUBSYSTEM=="module" RUN+="/bin/chgrp qat /dev/hugepages/qat"
ACTION=="add", DEVPATH=="/module/usdm_drv" SUBSYSTEM=="module" RUN+="/bin/chmod 0770 /dev/hugepages/qat"
ACTION=="remove", DEVPATH=="/module/usdm_drv" SUBSYSTEM=="module" RUN+="/bin/rmdir /dev/hugepages/qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x0435" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x0443" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x37c8" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x37c9" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x6f54" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x6f55" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x19e2" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x19e3" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x18ee" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x18ef" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x18a0" MODE="0660" GROUP="qat"
KERNEL=="uio*", ATTRS{vendor}=="0x8086", ATTRS{device}=="0x18a1" MODE="0660" GROUP="qat"
