Source: intel-qat
Section: admin
Priority: optional
Maintainer: Yanfei Guo <yanf.guo@gmail.com>
Build-Depends: debhelper-compat (= 12), make, g++, wget, pciutils, pkg-config, libnl-3-dev, libnl-genl-3-dev, libudev-dev, nasm, linux-image-truenas-production-amd64, linux-headers-truenas-production-amd64, linux-source
Standards-Version: 4.4.0
Homepage: https://github.com/arakashic/intel-qat

Package: intel-qat
Architecture: amd64
Description: Quick Assist Technology (QAT)
 Intel® QuickAssist Technology (Intel® QAT) improves performance across applications and platforms
